
<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">Money Track</h1>
    <p class="lead">This is a simple tracker for your expenses</p>
    <hr class="my-4">
    <p>Please, log in to continue</p>
    <%=link_to 'Log In', login_path, class:"btn btn-outline-dark  btn-lg"%>
  </div>
</div>